# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Grigorii Lutkov <grigorii@lutkov.dev>
# Copyright (c) UNITEX Fluent Compiler Contributors
# See README.md, COPYING.md, CONTRIBUTING.md and CONTRIBUTORS.md for details

# Node
node_modules

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn

# Build
/dist/**/*.map

# ESLint cache
/.eslintcache

# Temp
/temp

# Log files
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
/.idea
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/*.code-workspace

# Local .env files
.env.local*

# Common OS files
.DS_Store
._*
.Trashes
.Spotlight-V100
Thumbs.db
*.tmp
