# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Grigorii Lutkov <grigorii@lutkov.dev>
# Copyright (c) UNITEX Fluent Compiler Contributors
# See README.md, COPYING.md, CONTRIBUTING.md and CONTRIBUTORS.md for details

# Git
/.git

# Node
/node_modules
/package-lock.json

# Bun
/bun.lock

# Yarn
/.yarn
/yarn.lock

# PNPM
/pnpm-lock.yaml

# Build
/dist

# ESLint cache
/.eslintcache

# Temp
/temp

# Log files
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
/.idea
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/*.code-workspace

# Licenses
/third_party_licenses

# Common OS files
.DS_Store
._*
.Trashes
.Spotlight-V100
Thumbs.db
*.tmp
